.badge{
  margin-left: 5px;
  border-radius: 2px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  position: relative;
  display: inline-block;
  padding: 0 6px;
  text-align: center;
  color: #fff;
}
.badge-orange{
  background-color: #FFB800;
}
.badge-red{
  background-color: #FF5722;
}
.badge-blue{
  background-color: #1E9FFF;
}
.badge-green{
  background-color: #009688;
}
.badge-grey{
  background-color: rgb(153, 153, 153);
}
.badge-black{
  background-color: #393D49;
}
.active-text{
  color: #009688 !important;
}